.garansi{
    margin-bottom:20px;
    padding:15px;
    border-radius:15px;
    font-size:1rem;
    font-weight:700;
    color:#fff;
    background:linear-gradient(
        90deg,
        #00c853,
        #00ff99,
        #00c853
    );
    background-size:200% auto;
    box-shadow:
        0 0 15px #00ff99,
        0 0 35px #00ff99;
    animation:
        pulse 1.5s infinite,
        shine 3s linear infinite;
}

@keyframes shine{
    from{
        background-position:0% center;
    }
    to{
        background-position:200% center;
    }
}
